body{
    margin:0px;
    font-size: 25px;
}
.block1{
    background-color:#003366; 
    color:white;
    padding: 20px;
    text-align: center;
}
.block2{
    text-align: center;
    margin: 20px;
    /* font-weight: bold; */
}
.block3{
    text-align: center;
}
#blank{
    margin: 5px;
}
#btm{
    padding: 5px 10px;
    margin: 5px;
}