<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximun-scale=1">
    <title>會員頁</title>
    <link href="/static/layout.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body style="margin: 0px">
    <div class="block1">
        <span>歡迎光臨，這是會員頁</span>
    </div>
    <div class="block2">
        <span>{{ member_name }}，歡迎登入系統</span><br>
        <span><a href="/signout">登出系統</a></span>
    </div>
    <br>
    <div class="block2">
        <span style="font-weight: bold;">查詢會員姓名</span>
    </div>
    <div class="block3">
        <input type="text" id="blank" name="username"/>
        <button id="btn" onclick="show();">查詢</button>
    </div>
    <div class="block4" id="output"></div>
    <script>
        function show(){
            let nameE=document.getElementById("blank");
            let nm=nameE.value;
            let output=document.getElementById("output");
            let src="/api/members?username="+nm;
            fetch(src).then(function(response){
                return response.json();
            }).then(function(result){
                // console.log("console 打印資料", result);
                if(result.data!=null){
                    output.innerHTML=result.data.name+" ("+result.data.username+")";
                }
                else{
                    output.innerHTML="無此會員";
                }
            });
        }
    </script>
</body>
</html>